body {
  background-color: #2b3239;
  overflow-x: hidden;
  width: 100vw;
  font-family: Play;
}

.row-rel {
  position: relative;
}

.sphere-lg {
  width: 48.7vw;
  margin-top: 6vh;
  margin-left: 15.8vw;
  padding-bottom: 0;
}

.title-lg {
  position: absolute;
  top: 40%;
  left: 56vw;
}

.title-txt-lg {
  font-size: calc(1.5vw + 1.5vh + 2vmin);
  color: #ffffff;
}

.logo-lg {
  width: 17vw;
  position: absolute;
  top: 42%;
  left: 31.5%;
}

.btn-lg {
  width: 163px;
  box-shadow: 1px 6px 11px 0 rgba(0, 0, 0, 0.15);
  border: solid 1.2px #f2f2f2;
  padding: 1.7%;
  margin: 1%;
  border-radius: 0;
  background-color: inherit;
  color: #ffffff;
  font-size: 17px;
  line-height: 1.5;
}

.btn-get {
  position: absolute;
  top: 10vh;
  left: 2vw;
}

.k-feat-lg {
  color: #ffffff;
  font-size: calc(1.5vw + 1.5vh + 2vmin);
  z-index: 2;
}

.k-feat-lg-2 {
  position: absolute;
  top: -3px;
  left: -3px;
  color: #51dcd4;
  font-size: calc(1.5vw + 1.5vh + 2vmin);
}

.k-feat-lg-3 {
  position: absolute;
  top: 3px;
  left: 3px;
  color: #c73dbc;
  font-size: calc(1.5vw + 1.5vh + 2vmin);
}

.features {
  margin-top: 15vh;
}

.feat-box {
  margin-top: 10vh;
}

.feat-img {
  width: 90%;
}

.feat-name {
  padding-bottom: 3vh;
  font-size: calc(1vw + 1vh + 2vmin);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.feat-text {
  padding-bottom: 1vh;
  font-size: calc(0.6vw + 0.6vh + 0.1vmin);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #ffffff;
}

.dapp-st {
  margin-top: 7vh;
  margin-left: 20vw;
}

.web3 {
  margin-top: 2vh;
  margin-left: 9vw;
}

.dapp-dev {
  margin-top: 5vh;
  margin-right: 3vw;
}

.ipfs {
  margin-top: 3.5vh;
}

.footer {
  color: #ffffff;
  margin-top: 20vh;
  margin-bottom: 5vh;
}

#big-outer-ring-1 {
  position: absolute;
  top: 90%;
  width: 191.8rem;
	height: 191.8rem;
	background-image: linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%, black 0%, transparent 100%);
	border-radius: 50%;
  z-index: -4;

  /*  Rotate  */
  animation-duration: 4s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

#big-inner-ring-1 {
  position: absolute;
  top: 95%;
  left: 3%;
	width: 180rem;
	height: 180rem;
  background-color: #2b3239;
  border-radius: 50%;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
  z-index: -3;
}

#small-outer-ring-1 {
  position: absolute;
  top: 140%;
  left: 25%;
  width: 90rem;
	height: 90rem;
	background-image: linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%, black 0%, transparent 100%);
	border-radius: 50%;
  z-index: -2;

  /*  Rotate  */
  animation-duration: 4s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

#small-inner-ring-1 {
  position: absolute;
  top: 147%;
  left: 29%;
	width: 75rem;
	height: 75rem;
  background-color: #2b3239;
  border-radius: 50%;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
  z-index: -1;
}
