#big-ring-top {
  position: absolute;
  top: -9vw;
  width: 124vw;
  height: 124vw;
  margin-left: -12vw;
  border-radius: 124vw 124vw 124vw 124vw;
  border-top: 3vw solid #37404a;
  border-left: 3vw solid #37404a;
  border-right: 3vw solid #37404a;
  border-bottom: 3vw solid #37404a;
  z-index: 0;
}

#small-ring-top {
  position: absolute;
  top: 15vw;
  left: 15vw;
  width: 70vw;
	height: 70vw;
  border-radius: 70vw 70vw 70vw 70vw;
  border-top: 7vw solid #37404a;
  border-left: 7vw solid #37404a;
  border-right: 7vw solid #37404a;
  border-bottom: 7vw solid #37404a;
  z-index: 0;
  overflow-x: hidden;
}

#big-ring-bottom {
  margin-bottom: -53vw;
  position: absolute;
  top: -57vw;
  width: 124vw;
  height: 124vw;
  margin-left: -12vw;
  border-radius: 124vw 124vw 124vw 124vw;
  border-top: 3vw solid #37404a;
  border-left: 3vw solid #37404a;
  border-right: 3vw solid #37404a;
  border-bottom: 3vw solid #37404a;
  z-index: -1;
  overflow-x: hidden;
}

#small-ring-bottom {
  position: absolute;
  margin-bottom: -20vw;
  top: -36vw;
  left: 15vw;
  width: 70vw;
	height: 70vw;
  border-radius: 70vw 70vw 70vw 70vw;
  border-top: 7vw solid #37404a;
  border-left: 7vw solid #37404a;
  border-right: 7vw solid #37404a;
  border-bottom: 7vw solid #37404a;
  z-index: -1;
  overflow-x: hidden;
}
