.rings2-sm {
  position: absolute;
  top: 220vw;

}

#big-outer-ring-1-sm {
  position: absolute;
  top: 130vw;
  left: -50vw;
  width: 200vw;
  height: 200vw;
	background-color: #37404a;
	border-radius: 50%;
  z-index: -4;
}

#big-inner-ring-1-sm {
  position: absolute;
  top: 135vw;
  left: -45vw;
	width: 190vw;
	height: 190vw;
  background-color: #2b3239;
  border-radius: 50%;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
  z-index: -3;
}

#small-outer-ring-1-sm {
  position: absolute;
  top: 172vw;
  left: -5vw;
  width: 110vw;
	height: 110vw;
	background-color: #37404a;
	border-radius: 50%;
  z-index: -2;
}

#small-inner-ring-1-sm {
  position: absolute;
  top: 182.5vw;
  left: 4.5vw;
	width: 90vw;
	height: 90vw;
  background-color: #2b3239;
  border-radius: 50%;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
  z-index: -1;
}
