var env = {
  "CYBER_CHAINGEAR_API": "${CYBER_CHAINGEAR_API}",
  "CYBER_SEARCH_API": "${CYBER_SEARCH_API}",
  "CYBER_MARKETS_API": "${CYBER_MARKETS_API}",
  "CYBER_MARKETS_STREAM_API": "${CYBER_MARKETS_STREAM_API}"
}
