server {
  listen 80;

  root /dist;

  location / {
    try_files $uri $uri/ /index.html;
  }

  location @rootfiles {
      rewrite ^/(appstore|bb|chainger|createapp|cyber|eb|exp|tokens)/(.*) /$2 redirect;
    }
}
