server {
  listen 80;


  location /api/ {
   proxy_pass ${API_ROOT};
  }

  # location / {
  #   root /src/dist;
  # }

    root /dist;

     # Any route containing a file extension (e.g. /devicesfile.js)
    location ~ ^.+\..+${DOLLAR} {
        try_files ${DOLLAR}uri =404;
    }

    # Any route that doesn't have a file extension (e.g. /devices)
    location / {
        try_files ${DOLLAR}uri /index.html;
    }
}
