
.table {
  width: 100%;
}

.table td {
  vertical-align: middle;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  border-top: 1px solid #000;
  padding: 10px 0;
}

.table td:nth-child(3) {
  text-align: center;
}

.table tr:first-child td {
  border-top: none;
}

.table th {
  text-align: center;
}

.table th:nth-child(1) {
  text-align: left;
}

.table th:nth-child(2) {
  width: 60%
}


.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 30px;
}


.priceInfo {
  display: flex;
  align-items: center;  
}


.noInfo {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-height: 100px;
}
