
.section {
  margin-bottom: 50px;
  display: flex;
  box-sizing: border-box;
}

.sectionContent {
  flex-grow: 1;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.sectionTitle {
  margin-left: 30px;
  box-sizing: border-box;
}



.papper {
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 5px 4px 0 rgba(0, 0, 0, 0.14);  
  height: 100%;
  box-sizing: border-box;
}
