
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subTitle {
  font-size: 20px;
  color: #7c7c7c;
  line-height: 23px;
  margin-top: 40px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.button {
  border-radius: 20px;
  background-color: #c4c5c6;
  font-size: 16px;
  color: #fff;
  padding: 10px 15px;
  border: none;
  text-transform: uppercase;
  min-width: 98px;
}

.details {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 1px 5px 4px 0 rgba(0, 0, 0, 0.14);
  width: 100%;
  border-collapse: collapse;
}

.details tr {
  border-bottom: 1px solid #dedede;
}

.label {
  width: 20%;
  padding: 10px;
  padding-left: 30px;
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
}

.value {
  width: 80%;
  padding: 10px;
  padding-right: 30px;
  color: #7c7c7c;
  font-size: 14px;
}

.TLink {
  display: inline-block;
  width: 102px;
  overflow: hidden;
  font-size: 16px;
  color: #438cef;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.transactionsTablePager {
  padding-left: 45px;
  padding-right: 45px;
}

.transactionsTable {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 1px 5px 4px 0 rgba(0, 0, 0, 0.14);
  margin-bottom: 40px;
}

.transactionsTable table {
  width: 100%;
  border-collapse: collapse;
}

.transactionsTable th {
  border-bottom: 1px solid #dedede;
  padding-bottom: 20px;
  color: #7c7c7c;
  font-size: 14px;
  font-weight: bold;
}


.transactionsTable td {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #000;
  vertical-align: middle;
}

.transactionsTable th:first-child, 
.transactionsTable td:first-child {
  padding-left: 45px;
}

.transactionsTable th:last-child, 
.transactionsTable td:last-child {
  padding-right: 45px;
}

.transactionsTable th:nth-child(2),
.transactionsTable td:nth-child(2) {
  width: 10%;
}

.transactionsTable th:nth-child(5), 
.transactionsTable th:nth-child(6),
.transactionsTable td:nth-child(5), 
.transactionsTable td:nth-child(6) {
  // text-align: right;
}

.transactionsTable {
  padding-top: 30px;
  padding-bottom: 80px;
}


.paperIcon {
  margin-right: 5px;
  margin-bottom: -2px;
}


.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
