
.container {
  width: 770px;
  margin: 0 auto;
}

.topPanel {
  background-color: #438cef;
  min-height: 335px;
  padding-top: 225px;
  position: relative;
  box-sizing: content-box;
}

.linkList {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.linkItem {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  box-sizing: content-box;
  text-decoration: none;
}

.linkItem::before {
  display: block;
  content: '';
  width: 35px;
  height: 35px;
  padding-bottom: 12px;
}

.linkItemgithub::before {
  background: url('../home/github.svg') no-repeat center center;
}

.linkItemroadmap::before {
  background: url('../home/route.svg') no-repeat center center;
}

.linkItemcybernode::before {
  background: url('../home/startup.svg') no-repeat center center;
}

.linkItemdashboard::before {
  background: url('../home/projection.svg') no-repeat center center;
}

.linkItemknowledge::before {
  background: url('../home/brain.svg') no-repeat center center;
}

.linkItemblog::before {
  background: url('../home/contract.svg') no-repeat center center;
}