
.input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #ccc;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #fff;
  font-size: 16px;
}

.search {
  position: absolute;
  right: 0;
}

.wrapper {
  position: relative;
}
