

.title {
  color: #9f9d9d;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 50px;
}


.list {
  list-style: none;
  padding: 0;  
  margin-top: 20px;
  margin-bottom: 50px;
}

.list li {
  margin-bottom: 10px;
  margin-left: 25px;
}

/*.listTitle {
  margin-top: 50px;
  margin-bottom: 20px;
  color: #2e3842;
  position: relative;
  padding-left: 30px;
  font-weight: normal;
}

.listTitle::before {
  content: '';
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #438cef;
  border-radius: 50%;
  top: 2px;
}

.listTitle::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 8px;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
}*/
