

// .title {
//   color: #fff;
//   border-radius: 1px;  
//   box-shadow: 4px 3px 11px 0 rgba(0, 0, 0, 0.08);
//   display: inline-block;
//   padding: 5px 10px;
//   margin-left: -10px;
// }

.titleFirst {
  margin-right: 20px;
}




.hash {
  // margin-right: 10px;
}

.linHash {
  color: #438cef;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  // justify-content: space-between;
  align-items: center;
}

.copyButton {
  text-indent: -9999px;
  width: 12px;
  height: 14px;
  border: none;
  background: url('../SearchItems/baseline-file-copy-24-px.svg') no-repeat;
  margin-left: 10px;
  cursor: pointer;
}

.copyButton {
  display: none;
}

.linHash:hover .copyButton {
  display: block;
}

.linHash:hover {
  color: #438cef;  
}

.hashPart {
  letter-spacing: -6px;
  display: inline-block;
  width: 8px;
  height: 14px;
  overflow: hidden;
  padding: 0;
  line-height: 1;
}

.height {
}

.total {
}

.row {
  margin-bottom: 15px;
}

.row:last-child {
  margin-bottom: 0;
}

.link {
  font-size: 14px;
  color: #258cf6;
}


.container {
  padding: 20px 30px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 1px 5px 4px 0 rgba(0, 0, 0, 0.14);
  overflow: scroll;
  width: 750px;
  margin-left: 25px;
  margin-top: 30px;
}

.item {
  // color: #9f9d9d;
  // padding: 20px 30px;
  // border-radius: 4px;
  // border: solid 1px #e6eaed;
  margin-bottom: 30px;
  border-radius: 4px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.itemTitle {
  color: #fff;
  font-size: 16px;
  padding: 4px 13px;
  margin-top: -1px;
  margin-left: -1px;
  margin-right: -1px;
}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
}

.itemContainerRow {
  padding: 20px 30px;
  width: 33%;
}

.label {
  display: block;
  color: #a19f9f;
}

.value {
  line-height: 21px;
  font-size: 18px;
  color: #2e3842;
}

.linkAddress {
  color: #438cef;
 text-overflow: ellipsis;
  overflow: hidden; 
  width: 126px; 
  height: 19px; 
  white-space: nowrap;
  display: inline-block;
}

.linkAddress:hover {
  color: #438cef;  
}
