# Node packages
/node_modules/

# Build directory
/dist/

# IntelliJ
.idea/
out/
*.iws
*.iml
*.ipr
*.ips

# Eclipse
.settings/
.metadata/
.classpath
.project

# Generated
target/
javadoc/
bin/
log/
classes/

# Misc.
.DS_Store
*.swp
*.swo

# externalized configuration file
cyber.markets.properties

# Gradle
.gradle/
build

package-lock.json
design/browser_sketch.sketch
app/src/components/home/home.less
app/src/components/home/entity.svg
app/src/components/home/entity-active.svg
app/src/components/home/home.less
app/src/components/home/home.less
